.header{
    text-align: center;
}
.course-title{
    background: #d9c785;
    padding: 15px;
    width: 300px;
    border-radius: 20px;
}
#course-container{
    display: flex;
    gap: 13px;
    flex-wrap: wrap;
}
#course-count{
    text-align: center;
}

#bottom-space{
    margin-bottom: 20px;
    text-align: center;
}